.counter-p {
    display: flex;
    justify-content: center;
}

.counter-c {
    width: 434px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin: 2rem 0 .5rem 0;
    padding-left: 17px;
}

.counter-c p {
    font-size: .95rem;
    font-family: "Nunito", sans-serif;
    font-weight: 650;
}

@media screen and (orientation: portrait) and (max-width: 434px) {
    .counter-c {
        width: 100vw;
        padding-left: 0;
        justify-content: center;
    }
}