html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 10px 4px rgb(107, 107, 107);
}

header h1 {
    width: 15%;
    text-align: center;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 3rem);
    margin-left: 10%;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

header nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1.2vw, 4rem);
}

header nav a:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.top a {
    width: 20%;
    height: 70%;
    background: rgb(35, 35, 35);
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
}

.top a:hover {
    opacity: 100%;
    cursor: pointer;
}

#line {
    width: 90%;
    height: 3%;
    margin-top: 1rem;
}

.lane {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    order: 1px solid black;
}

.lane img {
    max-width: 29.4vw;
    max-height: 29.4vw;
}

.lane img:nth-of-type(1) {
    box-shadow: 0px 1px 6px 1px rgb(77, 77, 77);
}

.alairas {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    border: 1px solid black;
}